.cardContainer {
    width: 250px;
    margin: 20px 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.imgContainer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgProduct {
    height: auto;
    width: 100%;
    max-width: 250px;
    max-height: 300px;
}

.cardDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardDetailsContainer h3 {
    width: 100%;
    text-align: start;
}

.cardDetailsContainer p {
    width: 100%;
    padding: .5rem;
}

.buttonDetails {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5rem;
    color: #000;
    border-radius: 5px;
    border: 2px solid #fc8f00;
    background-color: #fc8f00;
}

.buttonDetails:hover {
    color: #fc8f00;
    color: #fff;
    border: 2px solid #fc8f00;
    background-color: #343433;
}